import React from 'react';
import  './{{pascalCase name}}.scss'

const {{pascalCase name}} = props => {
return (
<div className='{{prefix}}-{{dashCase name}}' data-test="">
    {{pascalCase name}}
</div>
);
};

export default {{pascalCase name}};