import React from 'react';
import style from './{{pascalCase name}}.module.scss'

const {{pascalCase name}} = props => {
return (
<div className={style['{{prefix}}-{{dashCase name}}']} data-test="">
    {{pascalCase name}}
</div>
);
};

export default {{pascalCase name}};